#bloc-thing-suggest.bloc-l-bloc
  .container.bloc-lg
    %h2.bloc-title
      작은 일 하나, 이건 어때요?

    .text-center
      = link_to new_thing_path, class: 'btn-thing-suggest' do
        작은 일 하나, 이건 어때요?
