.col-sm-4
  .thing-grid-box
    .thing__thumb
      = link_to image_tag(featured_image(thing), class: 'img-responsive'), thing_path(thing)
    .thing__body
      %h3.mg-md= link_to(thing.title, thing_path(thing))
      - if thing.deeds.present?
        %h5.mg-sm #{thing.deeds.count}명이 약속하였습니다