#bloc-things.bloc.l-bloc
  .container.bloc-md
    %h2.bloc-title 작은 일 하나, 해볼래요?
    - @things.in_groups_of(3, false).each_with_index do |row|
      .row
        - row.each do |thing|
          = render thing

= render 'things/suggest'