.page-container
  #hero-bloc{class: "bloc hero bgc-2 bg-highway d-bloc"}
    %div{ class: "container bloc-sm hero-nav" }
      = render 'gnb'
    %div{ class: "v-center text-center" }
      %div{ class: "vc-content" }
        %h1 뭐라도 해야 되겠는데 뭘 해야 할지 모르겠을 때
        %h3 같이 작은 것부터 시작해요.
        %br/
        %br/
        %a{ href: "#", class: "btn-wire btn btn-xl"} 할 만한 것 찾아보기
        %a{ id: "scroll-hero", class: "btn-dwn" }
          %span{ class: "fa fa-chevron-down" }
  #bloc-2{ class: "bloc l-bloc " }
    %div{ class: "container bloc-lg" }
      .row
        .col-sm-6
          %img{ src: "assets/placeholder-image.png", class: "img-responsive", alt: '' }
        .col-sm-6
          %h2{ class: "mg-lg" } Feature title
          %h3{ class: "mg-sm" } A more descriptive sub heading.
          %p{ class: "mg-lg" } Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          %a{ href: "#", class: "btn  btn-d  btn-lg" } Watch Demo
  #bloc-3{ class: "bloc  l-bloc" }
    %div{ class: "container bloc-sm" }
      .row
        - 4.times do
          .col-sm-3
            %img{ src: "assets/placeholder-image.png",  class: "img-responsive", alt: '' }
            %h3{ class: "mg-md" } Title goes here
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
  #bloc-4{ class: "bloc  l-bloc" }
    %div{ class: "container bloc-sm" }
      .row
        - 4.times do
          .col-sm-3
            %img{ src: "assets/placeholder-image.png",  class: "img-responsive", alt: '' }
            %h3{ class: "mg-md" } Title goes here
            %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.