#bloc-footer {
  background-color: #fffcec;
  color: #442213;  

  p.about {
    padding: 0px 20px;
    width: 549px;
    height: 120px;
    max-width: 100%;
    overflow: hidden;
    align: left;
    line-height:2.3em;
  }

  img {
    max-width: 150px;
    margin: 0 5px 0 0;
    display:block;
  }

  p.about.old {
    background-image: image-url('footer/about.png');
    width: 549px;
    height: 195px;
    max-width: 100%;
    text-indent: -9999px;
    overflow: hidden;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat
  }
}