#bloc-footer {
  background-color: #fffcec;
  color: #442213;

  p.about {
    padding: 0px;
    width: 549px;
    height: 120px;
    max-width: 100%;
    overflow: hidden;
    align: left;
    line-height:2.3em;
  }

  img {
    max-width: 150px;
    margin: 0 5px 0 0;
    display:block;
  }

  a.btn-peacecode {
    background-image: image-url('footer/btn-peacecode.png');
    display: block;
    width: 211px;
    height: 39px;
    text-indent: -9999px;
    max-width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (max-width: 780px) {
    p.about {
      width: 100%;
    }
    a.btn-peacecode {
      margin: 1em auto;
    }
  }
}