#bloc-things {
  background-color: #fbec96;

  h2.bloc-title {
    background-image: image-url('things/title.png');
    width: 257px;
    height: 37px;
    margin: 65px auto 90px auto;
    overflow: hidden;
    text-indent: -9999px;
  }
}

#bloc-thing-suggest {
  padding-left: 2em;
  padding-right: 2em;
  h2.bloc-title {
    background-image: image-url('things/title-suggest.png');
    width: 286px;
    height: 30px;
    margin: 30px auto;
    overflow: hidden;
    text-indent: -9999px;
  }
  a.btn-thing-suggest {
    background-image: image-url('things/btn-suggest.png');
    display: block;
    width: 308px;
    height: 93px;
    margin: 0 auto;
    text-indent: -9999px;
    max-width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

#bloc-thing-new, #bloc-thing-edit {
  .bloc-title {
    background-image: image-url('things/title-suggest.png');
    width: 286px;
    height: 30px;
    margin: 30px auto;
    overflow: hidden;
    text-indent: -9999px;
  }
}

.thing-grid-box {
  background-color: #fff;
  min-height: 300px;
  .thing__thumb {
    img {
      width: 100%;
    }
  }
  .thing__body {
    padding: 1em;
  }
}

#bloc-thing-show {
  .thing-show {
    background-color: #fffcec;
    border: 1px solid #e8e6d4;
    padding: 32px 23px;
  }

  .thing-show__meta {
    img {
      float: left;
      margin-right: 15px;
    }
    h2 {
      color: #442113;
      margin: 0 0 10px 0;
    }
    span.thing-show__username {
      font-size: 1.2em;
      font-weight: bold;
      margin-right: 1em;
    }
    span.thing-show__created {
      font-size: 1.2em;
    }
  }

  .thing-show__content {
    background-color: #fff;
    border: 1px solid #eeede1;
    color: #333;
    font-size: 1.2em;
    line-height: 1.8;
    margin: 13px 0;
    padding: 1.5em 1em;
    img {
      max-width: 100%;
    }
  }
  .thing-show__deeds {
    border-top: 1px solid #eeede1;
    border-bottom: 1px solid #eeede1;
    margin: 2em 0;
    padding: 2em 0 0 0;
    .btn-deed {
      display: block;
      margin: 0 auto 1em auto;
      background-image: image-url('things/btn-deed.png');
      width: 214px;
      height: 214px;
      overflow: hidden;
      text-indent: -9999px;
      &:hover {
        background-image: image-url('things/btn-deed--hover.png');
      }
      &:active, &.active {
        background-image: image-url('things/btn-deed--active.png');
      }
    }
    .thing-show__deeds__people {
      background-image: image-url('things/bg-deed__people.png');
      background-position: top left;
      background-repeat: no-repeat;
      border-top: 1px solid #eeede1;
      color: #696969;
      padding: 1em 50px;
      margin: 2em 0 0 0;
    }
  }
  .thing-show__share-box {
    margin: 2em 0;
    padding: 0 1em;
  }
}