#bloc-things {
  background-color: #fbec96;

  h2.bloc-title {
    background-image: image-url('things/title.png');
    width: 257px;
    height: 37px;
    margin: 65px auto 90px auto;
    overflow: hidden;
    text-indent: -9999px;
  }
}

#bloc-thing-suggest {
  h2.bloc-title {
    background-image: image-url('things/title-suggest.png');
    width: 286px;
    height: 30px;
    margin: 30px auto;
    overflow: hidden;
    text-indent: -9999px;
  }
  a.btn-thing-suggest {
    background-image: image-url('things/btn-suggest.png');
    display: block;
    width: 435px;
    height: 94px;
    margin: 0 auto;
    text-indent: -9999px;
  }
}

#bloc-thing-new, #bloc-thing-edit {
  .bloc-title {
    background-image: image-url('things/title-suggest.png');
    width: 286px;
    height: 30px;
    margin: 30px auto;
    overflow: hidden;
    text-indent: -9999px;
  }
}

.thing-grid-box {
  background-color: #fff;
  min-height: 300px;
  .thing__thumb {}
  .thing__body {
    padding: 1em;
  }
}

#thing-show {
  .thing-show__content {
    background-color: #fff;
    color: #333;
    padding: 1em;
    font-size: 1.5em;
    img {
      max-width: 100%;
    }
  }
  .thing-show__deeds {
    padding: 2em 0;
  }
}