#bloc-footer{ class: "bloc  d-bloc" }
  %div{ class: "container bloc-lg" }
    .row
      .col-sm-7
        %img{ src: asset_path("highway.jpg"), class: "img-responsive", alt: '' }
        %h2.mg-lg 작게 함께 시작해요
        %h3.mg-sm 1thing.kr은
        %p{ class: "mg-lg" } 커다란 사건 앞에서 작은 힘이라도 보태고 싶지만 어떻게 해야 할지 막막한 마음을 그대로 담아 만들었습니다. 우리 모두를 어쩌면 무기력으로 몰아넣은 사건들이지만. 누군가가 작은 제안을 하고, 그 제안에 같은 마음을 가진 이들이 조금 반응한다면. 작은 반응들이 하나하나 쌓이면 더 큰 변화도 욕심낼 수 있지 않을까요. 1thing.kr은 그런 희망을 품어봅니다.
        %a{ href: "//peacecode.org", target: "_blank", class: "btn  btn-d  btn-lg" } 만드는 사람들에게 이야기하기
      .col-sm-5
        .fb-page{"data-hide-cover" => "false", "data-href" => "https://www.facebook.com/1thing.kr", "data-show-facepile" => "true", "data-show-posts" => "true"}
