#hero-bloc{class: "bloc hero l-bloc"}
  %div{ class: "container bloc-sm hero-nav" }
    = render 'gnb'
  %div{ class: "v-center text-center" }
    %div{ class: "vc-content" }
      / %h1 뭐라도 해야겠다는 마음이신가요?
      / %h3 작아도 좋으니 같이 한번 해보아요.
      / %br/
      / %br/
      / %a{ href: "things", class: "btn-wire btn btn-xl"} 다른 사람들의 제안 보기
      / %a{ id: "scroll-hero", class: "btn-dwn" }
      /   %span{ class: "fa fa-chevron-down" }
