#hero-bloc{class: "bloc hero bgc-2 bg-paper-ship d-bloc"}
  %div{ class: "container bloc-sm hero-nav" }
    = render 'gnb'
  %div{ class: "v-center text-center" }
    %div{ class: "vc-content" }
      %h1 뭐라도 해야 되겠는데 뭘 해야 할지 모르겠을 때
      %h3 같이 작은 것부터 시작해요.
      %br/
      %br/
      %a{ href: "things", class: "btn-wire btn btn-xl"} 할 만한 것 찾아보기
      %a{ id: "scroll-hero", class: "btn-dwn" }
        %span{ class: "fa fa-chevron-down" }
