#hero-bloc{class: "bloc hero bgc-2 bg-paper-ship d-bloc"}
  %div{ class: "container bloc-sm hero-nav" }
    = render 'gnb'
  %div{ class: "v-center text-center" }
    %div{ class: "vc-content" }
      %h1 뭐라도 해야겠는데 그저 막막하신가요?
      %h3 저희도 그렇답니다. 작게라도 같이 한번 시작해 보아요.
      %br/
      %br/
      %a{ href: "things", class: "btn-wire btn btn-xl"} 할 만한 것 찾아보기
      %a{ id: "scroll-hero", class: "btn-dwn" }
        %span{ class: "fa fa-chevron-down" }
